/* This CSS file contains all the layouting and positioning CSS */

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Helvetica';
  font-size: 7pt;
  font-weight: 500;

  background: rgb(241,241,241);

  -webkit-print-color-adjust: exact;
}
.page {
  display: block;
  overflow: hidden;

  position: relative;

  width: 60mm;
  height: 90mm;
  margin: 50px;

  background: white;

  page-break-after: auto;
}

/* Actual styles for PDF */
@media print {
  .page {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

/* Contents */
.card {
  box-sizing: border-box;

  border: 1mm solid #000;
  border-radius: 5mm;
}
.upper-area,
.lower-area {
  position: relative;

  width: 100%;
}
.upper-area {
  height: 60%;
}
.lower-area {
  height: 40%;
}
.image {
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.text-area {
  text-align: center;

  border: inherit;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

/* Indicators */
.indicator {
  position: absolute;

  box-sizing: border-box;
  width: 2em;
  height: 2em;
  padding: .4em;

  font-size: 2em;

  border: inherit;
  border-width: 1mm;
  border-radius: 5mm;
}
.top {
  top: -1mm;
}
.bottom {
  bottom: 0;
}
.left {
  left: -1mm;
}
.right {
  right: -1mm;
}
.top.left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.top.right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bottom.left {
  border-top-left-radius: 0;
}
.bottom.right {
  border-top-right-radius: 0;
}

/* Type Bubble */
.type {
  display: inline-block;

  position: absolute;
  top: 0;
  left: 50%;

  padding: .5mm 1mm;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  color: #fff;
  border: .5mm solid black;
  border-radius: 1mm;
  background: #000;
}

/* Footer line */
.foot {
  position: absolute;
  bottom: 0;

  width: 100%;

  text-align: center;

  font-size: 3.5pt;
  font-style: italic;

  color: rgba(0,0,0, 0.25);
}
